<!-- _notifications.html -->
{% macro render_notifications(messages) %}
    {% if messages %}
        {% for category, message in messages %}
            {% if category == 'error' %}
                <div class="p-notification--negative">
                    <div class="p-notification__content">
                        <h5 class="p-notification__title">Error</h5>
                        <p class="p-notification__message">{{ message }}</p>
                    </div>
                </div>
            {% elif category == 'success' %}
                <div class="p-notification--positive">
                    <div class="p-notification__content">
                        <h5 class="p-notification__title">Success</h5>
                        <p class="p-notification__message">{{ message }}</p>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    {% endif %}
{% endmacro %}
